<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tascomi.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tascomi.Tests.Properties.Settings>
            <setting name="ApiPrivateKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ApiPublicKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ApiUri" serializeAs="String">
              <value></value>
            </setting>
        </Tascomi.Tests.Properties.Settings>
    </applicationSettings>
    <system.net>
      <defaultProxy enabled="true">
        <proxy proxyaddress="http://127.0.0.1:8888" usesystemdefault="False" />
      </defaultProxy>
    </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>